 body {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
    color: #000000;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f2f2;
    border-radius: 40px;
  }

  .left-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    padding: 20px;
    background-color: hsl(252, 55%, 57%);
    color: white;
    border-radius: 20px;
  }

  .left-column h2 {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .average-rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
  }

  .dot {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(96, 59, 199);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    font-size: 36px;
    font-weight: bold;
    color: white;
  }

  .average-rating h3 {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 500;
  }

  .average-rating p {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
    margin-top: 10px;
  }

  .right-column {
    width: 20%;
    padding: 40px;
    background-color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    
  }

  .right-column h4 {
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 10px;
        font-weight: 500;
        font-family: 'Hanken Grotesk', sans-serif;
    
    }

.right-column button[type="submit"]{
      display: block;
      width: 100%;
      padding: 10px;
      background-color: rgb(46, 43, 43);
      color: white;
      border: none;
      border-radius: 20px;
      cursor: pointer;
      
    }
    .right-column {
      float: left;
    }

  .rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Hanken Grotesk', sans-serif;
  }

  .rating:nth-child(1) {
    background-color: #FF8989;
  }

  .rating:nth-child(2) {
    background-color: #FFC689;
  }

  .rating:nth-child(3) {
    background-color: #AAFF89;
  }

  .rating:nth-child(4) {
    background-color: #89E4FF;
  }

  .score {
    background-color: white;
    color: #333;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40px;
    height: 40px;
    font-weight: bold;
    margin-left: 10px;
  }
